/* Your application styles go here */

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.category-icon {
	display: block;
	background-size: 100%;
	float: left;
	margin-right: .5em;
}
.simple-soup .category-icon {
	background-image: url('../images/food-icons/128px/136.png');
}
.accompaniments .category-icon {
	background-image: url('../images/food-icons/128px/143.png');
}
.jacket-potatoes .category-icon {
	background-image: url('../images/food-icons/128px/42.png');
}
.plain-and-simple .category-icon {
	background-image: url('../images/food-icons/128px/133.png');
}
.protein-soup .category-icon {
	background-image: url('../images/food-icons/128px/123.png');
}
.bistro .category-icon {
	background-image: url('../images/food-icons/128px/150.png');
}
.rotisserie .category-icon{
	background-image: url('../images/food-icons/128px/61.png');
}
.soup-accompaniments .category-icon {
	background-image: url('../images/food-icons/128px/130.png');
}
.theatre-bar .category-icon {
	background-image: url('../images/food-icons/128px/127.png');
}
.vegetarian .category-icon {
	background-image: url('../images/food-icons/128px/26.png');
}

.footer.pane {top: auto;}

.ng-dirty.ng-invalid { border:1px solid Red; }
.pull-right {
    float: right;
}

.footer.pane {
    top: auto;
}
.bar-header {
border-bottom: 1px solid #ddd;
}
.tabs {
	border-top:1px solid #ddd !important; /*overriding ionic.css - they put !important there for some reason*/
}
.menu-avatar {
	background: rgb(226, 226, 226);
	border-bottom: 2px solid rgb(181, 181, 181);
}
.menu-avatar img {
	border-radius: 50px;
	border: 1px solid rgb(179, 179, 179);
}
.item, .item p {
	white-space: normal;
}
#mc-messages-wrapper {
	position: absolute;
	bottom: 0;
	z-index: 999;
	width: 100%;
}
#mc-messages-wrapper .alert {
	padding: 12px;
}
#mc-messages-wrapper .alert-success {
	background: #66cc33;
	border: 1px solid #498f24;
}
#mc-messages-wrapper .alert-danger {
	background: #ef4e3a;
	border: 1px solid #cc2311;
}
#mc-messages-wrapper .alert-warning {
	background: #f0b840;
	border: 1px solid #d39211;
}
#mc-messages-wrapper .alert-info {
	background: #4a87ee;
	border: 1px solid #4a87ee;
}
#mc-messages-wrapper > .card {
	padding: 0;
}
#mc-messages-wrapper > .card > .item {
	background: none;
	color: #fff;
}
.side-footer {
  line-height: 2.4em;
  padding-left: 1em;
  font-size: .85em;
  height: auto;
}
.pane.has-tabs-top {
  top: 93px;
}