/* Your application styles go here */

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.category-icon {
	display: block;
	background-size: 100%;
	float: left;
	margin-right: .5em;
}
.simple-soup .category-icon {
	background-image: url('../images/food-icons/128px/136.png');
}
.accompaniments .category-icon {
	background-image: url('../images/food-icons/128px/143.png');
}
.jacket-potatoes .category-icon {
	background-image: url('../images/food-icons/128px/42.png');
}
.plain-and-simple .category-icon {
	background-image: url('../images/food-icons/128px/133.png');
}
.protein-soup .category-icon {
	background-image: url('../images/food-icons/128px/123.png');
}
.bistro .category-icon {
	background-image: url('../images/food-icons/128px/150.png');
}
.rotisserie .category-icon{
	background-image: url('../images/food-icons/128px/61.png');
}
.soup-accompaniments .category-icon {
	background-image: url('../images/food-icons/128px/130.png');
}
.theatre-bar .category-icon {
	background-image: url('../images/food-icons/128px/127.png');
}
.vegetarian .category-icon {
	background-image: url('../images/food-icons/128px/26.png');
}

.footer.pane {top: auto;}

.ng-dirty.ng-invalid { border:1px solid Red; }
.pull-right {
    float: right;
}

.footer.pane {
    top: auto;
}
.bar-header {
border-bottom: 1px solid #ddd;
}
.tabs {
	border-top:1px solid #ddd !important; /*overriding ionic.css - they put !important there for some reason*/
}
.menu-avatar {
	background: rgb(226, 226, 226);
	border-bottom: 2px solid rgb(181, 181, 181);
}
.menu-avatar img {
	border-radius: 50px;
	border: 1px solid rgb(179, 179, 179);
}
.item, .item p {
	white-space: normal;
}
.side-footer {
  line-height: 2.4em;
  padding-left: 1em;
  font-size: .85em;
  height: auto;
}
.pane.has-tabs-top {
  top: 93px;
}
.button.icon:hover, i.icon:hover, .button:hover {
	color: #387ef5;
}
.popover {
	height: 11em;
}
.menu {
	background-color: rgb(248, 248, 248);
}
.menu .bar {
	  border: 0;
}
.menu .item {
	border: 0;
	cursor: pointer;
	background: transparent;
}
.menu-left .item.active, .menu-left .item:hover  {
	color: #0e90d2;
	background: transparent;
}
.button.button-positive, .button.button-positive.active, .button.button-positive.activated {
	border-color: #1E9BDA;
  background-color: #0e90d2;
}
.positive, a.positive, .button.icon:hover, i.icon:hover, .button:hover {
	color: #0e90d2;
	text-decoration: none;
}
ion-header-bar.bar.bar-header {
  border: 0;
  background-color: rgb(14, 144, 210);
  color: white;
}
ion-header-bar.bar.bar-header h1 {
  color: white;
}
ion-header-bar.bar.bar-header .button.button-icon, .bar.bar-subheader .button.button-icon, .bar.bar-subheader .h1 {
  color: white;
}
.bar.bar-subheader {
	background-color: rgb(14, 144, 210);
	border:0;
}
ion-header-bar.bar .button.button-icon:hover,.bar.bar-subheader .button.button-icon:hover {
	color: rgb(0, 86, 129);
}
.has-header {
  top: 42px;
}