/*.dish-thumb {
  border-radius: 3px;
  padding: 2px;
  border: solid 1px #d3d3d3;
  margin: 0px 10px 10px 0px;
}
*/
.home .dish-item {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  background: rgba(89, 89, 89, 0.43);
  padding-left: 1em;
  color: white;
  padding-bottom: .4em;
  padding-top: 0.3em;
  width: 100%;
  text-shadow:  1px 1px 1px #515151;
  white-space: normal;
}
.home .dish-item h2 {
  margin-bottom: 5px;
  color: #fff;
  font-size: 1.2em;
  white-space: normal;
}
.home .dish-item em {
  font-size: 13px;
  font-style: italic;
}

.home .dish-item .ion-ios7-heart, .dish-item .ion-ios7-heart-outline {
  font-size: 25px;
  color: darkred;
}
.home .star-rating {
  display: inline-flex;
  margin-top: 2px;

}
.home .star-rating .icon {
    font-size: 20px;
}
.home .plain-and-simple a.item, .home .accompaniments a.item {
width: 33.7%;
float: left;
min-height: 114px;
}
.home .plain-and-simple a.item img, .home .accompaniments a.item img {
min-height: 114px;
}

.home .soup-accompaniments a.item {
width: 50%;
float: left;
}
.home .dish-list a.item {
  padding:0;
  border: 0;
  margin-bottom: -4px;
}
.home .soup-accompaniments h2 {
  font-size: 1em;
}
.home .plain-and-simple h2, .home .accompaniments h2 {
  font-size: .9em;
}
.home .menu-list .dish-list {
  padding: 0;
}
.home .item .dish-thumb {
  width: 100%;
  max-height: 8em;
}
.home .category-icon {
  width: 1.3em;
  height: 1.3em;
}