/*.dish-thumb {
  border-radius: 3px;
  padding: 2px;
  border: solid 1px #d3d3d3;
  margin: 0px 10px 10px 0px;
}
*/
.home .dish-item {
  overflow: hidden;
  position: absolute;
  bottom: 5px;
  background: rgba(89, 89, 89, 0.43);
  padding-left: 1em;
  color: white;
  padding-bottom: .4em;
  padding-top: 0.3em;
  width: 100%;
  text-shadow:  1px 1px 1px #515151;
  white-space: normal;
}
.home .dish-item h2 {
  color: #fff;
  font-size: 1.2em;
  white-space: normal;
}
.home .dish-item em {
  font-size: 13px;
  font-style: italic;
}

.home .dish-item .ion-ios7-heart, .dish-item .ion-ios7-heart-outline {
  font-size: 25px;
  color: darkred;
}
.home .star-rating {
  display: inline-flex;
  margin-top: 2px;

}
.home .star-rating .icon {
    font-size: 20px;
}
.home .plain-and-simple a.item {
  width: 33.3%;
  display: inline-block;
  margin: 0;
}

.home .plain-and-simple a.item .dish-item span{
  display: none;
}

.home .dish-list a.item {
  padding:0;
  border: 0;
/*  margin-bottom: -4px;
*/}

.home .plain-and-simple h2 {
  font-size: .9em;
}
.home .menu-list .dish-list {
  padding: 0;
}
.home .item .dish-thumb {
  width: 100%;
}
.home .category-icon {
  width: 1.3em;
  height: 1.3em;
}

@media only screen 
and (min-width : 1024px) {
  .menu-list {
  width: 341px;
  display: inline-block;
  }
  .scroll-content {
    max-width: 1024px;
    margin: 0 auto;
  }
}
  .dish-list {
    height: 107px
  }
  .home .item .dish-thumb {
    height: 107px;
  }
.home .item.positive .dish-thumb {
  border: 4px solid #387ef5
}
