/*.dish-thumb {
  border-radius: 3px;
  padding: 2px;
  border: solid 1px #d3d3d3;
  margin: 0px 10px 10px 0px;
}
*/
.home .dish-item {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  background: rgba(89, 89, 89, 0.43);
  color: white;
  width: 100%;
  text-shadow:  1px 1px 1px #515151;
  white-space: normal;
  height: 2.5em;
  padding: .3em 1em .4em;
}
.home .dish-item h2 {
  color: #fff;
  font-size: 1.2em;
  white-space: normal;
}

.home .plain-and-simple a.item {
  width: 33.3%;
  display: inline-block;
  margin: 0;
  vertical-align: bottom;

}

.home .plain-and-simple a.item .dish-item span{
  display: none;
}

.home .dish-list a.item {
  padding:0;
  border: 0;
/*  margin-bottom: -4px;
*/}

.home .plain-and-simple h2 {
  font-size: .9em;
}
.home .menu-list .dish-list {
  padding: 0;
  border: 0;
}
.home .item .dish-thumb {
  width: 100%;
}
.home .category-icon {
  width: 1.3em;
  height: 1.3em;
}


.slider-slide .list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.menu-list {
  flex: 1 1 100%;
  height: auto;
}
.home .dish-item span {
  display: none;
}

  @media (min-width:415px){
.home .dish-item {

  height: 5em;
}

.plain-and-simple picture {
  margin-left: -50%;
}
    .home .dish-item h2 {
  font-size: 1.3em;
}
    .home .menu-list .dish-list {
      margin: 0 -1px;
    }
  .home .item .dish-thumb {
  width: 100%;
  height: 341px;
}
.home .plain-and-simple .dish-thumb {
  width: auto;

}
.home .dish-list a.item {
  height: 341px;
}

  .menu-list {
/*  width: 33.3%;
  display: inline-block;*/
  flex: 0 1 341px;
  }
  .scroll-content {
     max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  }

.home .dish-item span {
  display: block;
}
}

.home .item.positive .dish-item {
  background: rgba(55, 117, 223, 0.71);
}
.home .item .badge {
  right: 0.7em;
  top: 0.7em;
}
.scroll > .slider {
  overflow: visible;
}
