
.single .item-avatar {
	padding-left: 16px;
}

.single .category-icon {
  width: 2.4em;
  height: 2.4em;
}
.title.header-item {
	text-transform: capitalize;
}
.single .single-extra h4 {
	font-size: .94em;
	font-weight: bold;
}
.single .single-extra .item {
	padding: .5em;
	font-size: .9em;
}
.single .single-extra i.icon {
	margin-right: 0.3em;
}

.single .tabs-icon-left.tabs .tab-item {
	font-size: 12px;
}
.single .full-image {
	border-radius: 5px;
}
.single .item-avatar, .single .tabs-secondary {
	background: whitesmoke;
}