<ion-view title="Changelog" hide-back-button="false">
    <!-- Menu button -->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content has-bouncing="false" class="has-header">
        <div class="list">
            <div class="item item-divider">
                1.5.6 (May 7, 2015)
            </div>
            <div class="item">
                Change canteen from popup on homepage
            </div>
            <div class="item">
                UX improvement for Dish pages
            </div>
            <div class="item item-divider">
                1.5.5 (Apr 15, 2015)
            </div>
            <div class="item">
                Image SRCset and Flexbox
            </div>
            <div class="item">
                Removed Plain-and-simple and Jacket potatoes
            </div>
            <div class="item">
                Improved Tablet/Desktop UX
            </div>
            <div class="item item-divider">
                1.5.4 (Apr 1, 2015)
            </div>
            <div class="item">
                Days swiping animation
            </div>
            <div class="item">
                Improved notifications UX
            </div>
            <div class="item item-divider">
                1.5.3 (Mar 5, 2015)
            </div>
            <div class="item">
                Non reg users can change canteen
            </div>
            <div class="item">
                Settings button more prominent on home
            </div>
            <div class="item">
                Remember registered users saved canteen
            </div>
            <div class="item">
                Improved loading screens
            </div>
            <div class="item">
                Visual feedback for Ratings on Single page
            </div>
            <div class="item">
                Updated menu
            </div>
            <div class="item item-divider">
                1.5.2 (Feb 19, 2015)
            </div>
            <div class="item">
                UX Changes for Desktop/Tablet on Single dish view
            </div>
            <div class="item">
                Dish ratings
            </div>
            <div class="item">
                Remember user dish ratings
            </div>
            <div class="item item-divider">
                1.5.1 (Feb 13, 2015)
            </div>
            <div class="item">
                Reset password
            </div>
            <div class="item">
                Change email/password
            </div>
            <div class="item item-divider">
                1.5 (Feb 11, 2015)
            </div>
            <div class="item">
                Release iOS App
            </div>
            <div class="item">
                Analytics
            </div>
            <div class="item">
                Optimised Splash screen and Icon
            </div>
            <div class="item item-divider">
                1.4.1 (Feb 4, 2015)
            </div>
            <div class="item">
                Added Changelog
            </div>
            <div class="item">
                About page
            </div>
            <div class="item">
                Canteen switch
            </div>
            <div class="item item-divider">
                1.4 (Jan 20, 2015)
            </div>
            <div class="item">
                Server response messaging
            </div>
            <div class="item">
                Dish labels (e.g. Balanced for you)
            </div>
            <div class="item">
                Search images on server if not found on device
            </div>
            <div class="item item-divider">
                1.3 (Jan 9, 2015)
            </div>
            <div class="item">
                User accounts
            </div>
            <div class="item">
                Admin accounts
            </div>
            <div class="item">
                Favourites
            </div>
            <div class="item">
                Unique dish to multiple weeks
            </div>
            <div class="item">
                Unique dish to multiple days
            </div>
            <div class="item">
                Report a dish
            </div>
            <div class="item item-divider">
                1.2 (Dec 14, 2014)
            </div>
            <div class="item">
                Admin panel
            </div>
            <div class="item">
                Add/Edit/Remove dishes and categories
            </div>
            <div class="item">
                Created all dishes
            </div>
            <div class="item">
                Menu cycle logic
            </div>
            <div class="item">
                Single dish page
            </div>
            <div class="item">
                Statistics page
            </div>
            <div class="item">
                Factories injected before controller is loaded
            </div>
            <div class="item">
                Loading screen between XHR
            </div>
            <div class="item">
                Basic feedback on admin actions
            </div>
            <div class="item">
                Dynamic days and canteens
            </div>
            <div class="item">
                Added category icons
            </div>
            <div class="item">
                Dynamic days and canteens
            </div>
            <div class="item">
                Priority for categories (for sorting)
            </div>
            <div class="item">
                Message for empty categories
            </div>
            <div class="item item-divider">
                1.1 (Dec 5, 2014)
            </div>
            <div class="item">
                Initial working model
            </div>
            <div class="item">
                iOS, Android and Web deployment
            </div>
            <div class="item">
                Basic routing
            </div>
            <div class="item">
                Firebase integration
            </div>
        </div>
    </ion-content>
</ion-view>