<ion-view title="Edit a Dish" class="admin-dishes">
	<!-- Menu button -->
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
	<ion-nav-buttons side="right">
  <button class="button button-positive" ui-sref="app.admin.dishes.add">Add new</button>
	</ion-nav-buttons>

    <ion-content class="has-header has-footer">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="search">
      </label>
    </div>
      <div class="list">
          <p ui-sref="app.admin.dishes.edit({ id: (dish.$id)})" ng-repeat="dish in dishes | orderBy: 'dish.id' | filter:search" class="item item-icon-right item-thumbnail-left" href="#">
               <img ng-src="{{dish.images}}">
               <strong>{{dish.slug}}: </strong>
               <span ng-show="dish.title"><br>
                  {{dish.title}}
                  <span class="badge badge-stable">{{dish.category | undashify}}</span>
                </span>
              
          </p>
      </div>
     

    </ion-content>
</ion-view>
