<ion-view title="Admin">
	<!-- Menu button -->
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

    <ion-content class="has-header has-footer">
      <div class="list">

        <div class="item item-divider">
          Stats
         </div>

        <a class="item" href="#" ui-sref="app.admin.stats">
          View Statistics
        </a>
        <div class="item item-divider">
          Dishes
         </div>

        <a class="item" href="#" ui-sref="app.admin.dishes.add">
          Add a dish
        </a>
        <a class="item" href="#" ui-sref="app.admin.dishes">
          Edit a dish
        </a>
   
        <div class="item item-divider">
          Categories
         </div>

        <a class="item"  ui-sref="app.admin.categories.add">
          Add a category
        </a>
        <a class="item" ui-sref="app.admin.categories">
          Edit a Category
        </a>
  

        <div class="item item-divider">
          Users
         </div>

        <a class="item">
          Add an user
        </a>
        <a class="item">
          Edit an user
        </a>
  
      </div>


    </ion-content>
</ion-view>
