<ion-view title="Add a Dish">
	<!-- Menu button -->
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

    <ion-content class="has-header has-footer">
      <form id="addDish" ng-submit="save(addDish)">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Dish Title</span>
          <input ng-model="addDish.title" type="text" placeholder="Cannelloni with Spinach">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Dish Description</span>
          <textarea ng-model="addDish.description" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque tempore debitis optio error deleniti."></textarea>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Image</span>
          <input ng-model="addDish.images" type="text" placeholder="Image.jpeg">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Thumbnail</span>
          <input ng-model="addDish.thumb" type="text" placeholder="thumb.jpeg">
        </label>

        <label class="item item-input item-select">
          <div class="input-label">
            Category
          </div>
          <select ng-model="addDish.category">
            <option value="{{category.title}}" ng-repeat="category in categories">{{category.title}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Week
          </div>
          <select ng-model="addDish.week">
          <option value="-" disabled selected>Select a week</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Day
          </div>
          <select ng-model="addDish.day">
          <option value="-" disabled selected>Select a day</option>
            <option value="0">Monday</option>
            <option value="1">Tuesday</option>
            <option value="2">Wednesday</option>
            <option value="3">Thursday</option>
            <option value="4">Friday</option>
          </select>
        </label>

      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive activated">Add</button>
      </div>

      </form>
    </ion-content>
</ion-view>
