<ion-view title="Favourites" hide-back-button="false">
	<!-- Menu button -->
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	
    <ion-content class="has-header has-footer">
        <div class="list">
            <div ng-repeat="favourite in user.favourites">
                <div ng-repeat="dish in dishes | filter: {$id : favourite.id}" class="item item-thumbnail-left item-icon-right">
                    <img ng-src="{{dish.images}}">
                    <h2 ui-sref="app.dish({ id: (dish.$id), category: (dish.category)})">{{dish.slug}}</h2>
                    <p>{{dish.title}}</p>
                    <span ng-click="removeFavourite(favourite.id)" class="icon ion-heart positive"></span>
                </div> {{user.favourites.length > 0}}
            <div ng-show="favourite.length > 0" class="item">
           
                You haven't added any dish to your favourites.
           
            </div>
            </div>


        </div>
    </ion-content>
</ion-view>