<ion-view title="Favourites" hide-back-button="false">
	<!-- Menu button -->
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
	
    <ion-content class="has-header has-footer">
        <div class="list">
            <div class="item item-thumbnail-left item-icon-right">
                <img src="http://ionicframework.com/img/docs/nevermind.jpg">
                <h2>Stuffed Pepper</h2>
                <p>Stuffed Pepper with a Ratouille of Autumn Vegetables and Gruyere Gratin</p>
                <span class="icon ion-heart positive"></span>
            </div>
            <div class="item item-thumbnail-left item-icon-right">
                <img src="http://ionicframework.com/img/docs/nevermind.jpg">
                <h2>Stuffed Pepper</h2>
                <p>Stuffed Pepper with a Ratouille of Autumn Vegetables and Gruyere Gratin</p>
                <span class="icon ion-heart positive"></span>

            </div>
        </div>
    </ion-content>
</ion-view>