<header class="bar bar-header bar-stable">
    <h1 class="title">Notifications</h1>
</header>

<ion-content class="has-header">


<!--    <div class="item item-divider">
        Tomorrow at Waterside
    </div>

    <div class="item item-thumbnail-left item-icon-right">
        <img src="images/dishes/theatre-bar/fish-chips.jpg">

        <h2 class="ng-binding">Fish and Chips</h2>

        <p class="ng-binding">Battered Haddock or Breaded Whole Tail Scampi</p>
    </div>

    <div class="item item-divider">
        Friday at Waterside
    </div>

    <div class="item item-thumbnail-left item-icon-right">
        <img src="images/dishes/theatre-bar/fish-chips.jpg">

        <h2 class="ng-binding">Fish and Chips</h2>

        <p class="ng-binding">Battered Haddock or Breaded Whole Tail Scampi</p>
    </div>

    <div class="item item-thumbnail-left item-icon-right">
        <img src="images/dishes/theatre-bar/fish-chips.jpg">

        <h2 class="ng-binding">Fish and Chips</h2>

        <p class="ng-binding">Battered Haddock or Breaded Whole Tail Scampi</p>
    </div>
 -->   

 <div class="item">
       

        <h2 class="ng-binding">No new notification</h2>

    </div>

</ion-content>
