<ion-view title="Listing Report" class="single {{single.category}}">
    <!-- Menu button -->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="listing-report" class="has-header has-footer">
        <div class="list card">

            <div class="item item-avatar">
                <span class="category-icon"></span>
                <h2 class="dish-title">{{single.slug}}</h2>
            </div>

            <ul class="list">
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input ng-model="reportData.incorrectImage" type="checkbox">
                    </label>
                    Incorrect Image
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input ng-model="reportData.incorrectDescription" type="checkbox">
                    </label>
                    Incorrect Description
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input ng-model="reportData.incorrectDate" type="checkbox">
                    </label>
                    Incorrect Date
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input ng-model="reportData.rudeComments" type="checkbox">
                    </label>
                    Abusive Comments
                </li>
            </ul>

            <button ng-click="reportListing()" class="button button-block button-positive">
                Submit
            </button>
        </div>
    </ion-content>
</ion-view>
