<ion-view title="{{single.category | undashify}}">
    <!-- Menu button -->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-content class="has-header has-footer single">
        <div class="list card">
            <div class="item item-avatar">
                <span class="item-avatar-icon {{single.category}}"></span>
                <h2>{{single.slug}}</h2>
                <p>{{single.day | dayfy}} at {{canteenName}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="{{single.images}}">
                <h2>{{single.title}}</h2>

                <p ng-show="single.with">
                    <i class="icon ion-checkmark-circled "></i> {{single.with}}
                </p>
                {{single.addons.length}}
                <p ng-show="single.addons">
                <i class="icon ion-plus-circled "></i>
                    {{single.addons}}
                </p>
                <p>
                    <a href="#" class="subdued">2 Favourites</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-heart"></i>
                    Favourite
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-star"></i>
                    Rate
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
