<header class="bar bar-header bar-stable">
    <h1 class="title">My Restaurant Hub</h1>
</header>

<ion-content class="has-header has-footer">
    <ul class="list">
        <!-- Route to Home (app.home) -->
        <a ui-sref="app.home" class="item item-icon-left" menu-toggle="left">
            <i class="icon ion-home"></i>Home
        </a>
        <!-- Route to Settings (app.settings) -->
        <a ui-sref="app.settings" class="item item-icon-left" menu-toggle="left">
            <i class="icon ion-gear-a"></i>Settings
        </a>
    </ul>
</ion-content>