<header class="bar bar-header bar-stable">
    <h1 class="title">My Restaurant Hub</h1>
</header>

<ion-content class="has-header has-footer">
    <ul class="list">
        <!-- Route to Home (app.home) -->
        <li ui-sref="app.home" ui-sref-active="active" class="item item-icon-left" menu-toggle="left">
            <i class="icon ion-home"></i>
            Home
        </li>

        <!-- Route to Favourites (app.favourites) -->
        <li ui-sref="app.favourites" ui-sref-active="active" class="item item-icon-left" menu-toggle="left">
            <i class="icon ion-heart"></i>
            Favourites
        </li>

        <!-- Route to Settings (app.settings) -->
        <li ui-sref="app.settings" ui-sref-active="active" class="item item-icon-left" menu-toggle="left">
            <i class="icon ion-gear-a"></i>
            Settings
        </li> 

        <!-- Route to Admin (app.admin) -->
        <li ui-sref="app.admin" ui-sref-active="active" class="item item-icon-left" menu-toggle="left">
            <i class="icon ion-help-buoy"></i>
            Admin
        </li>
    </ul>
</ion-content>