<ion-view title="Profile">
	<!-- Menu button -->
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>

    <ion-content class="has-header has-footer">

      <div user-details-directive class="item item-thumbnail-left menu-avatar"></div>
      
      <form ng-submit="save()" name="userName">

        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="user.username">
          </label>
          <label class="item item-input">
            <span class="input-label">Avatar</span>
            <input type="text" ng-model="user.avatar">
          </label>

        </div> 
        <div class="padding">
          <button class="button button-block button-positive activated">Save</button>
        </div>      
      </form>

    </ion-content>
</ion-view>
